name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2
      - name: Build Docker Image
        run: docker build -t michel2306/list-frontend:1.0 .
      - name: Push Docker Image
        run: docker push michel2306/list-frontend:1.0